*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header{
  display: inline-flex;
  justify-content: center;

}

#teacherheader{
  background-color: white;
  width: 100%;
}

#title{
  color: white;
  text-align: left;
  padding: 10px;
  flex-grow: 1;
}

#displayuser{
  color: white;
  text-align: left;
  padding: 10px;
  margin-top: 1.7rem;

}


.button{
  color: white;
  background-color: blue;
  padding: 10px;
  margin: 10px;
}


body{
  background-color:#c9c9c9;
  margin: 0;
  padding: 0;
}

.logoutbutton{
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: #65adcc;
  border-radius: 5px;
  padding: 10px;
  margin: 1.5rem;
}



.box{
  display: grid;
  padding: 10px;
  background-color: white;
  margin: auto;
  width: 50%;
  height: 50%;
  
}



#editbutton{
  color: #172E38;
  text-decoration: none;
  background-color: #65adcc;
  padding: 6px 6px;
  border-radius: 5px;
}


th{
  height: 50px;
  background-color: rgb(108, 186, 238);
}

tr:hover{
  background-color: #aaaaaa;
}

#tablebox{
  border: 15px solid white;
  border-radius: 10px;
  background-color: white;
  width: 90%;
  margin: auto;

}

table{
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  border-radius: 50px;
}

th, td{
  /*border: 1px solid #ddd;*/
  padding: 10px;
}

tr:nth-child(even) {
  background-color: rgb(235, 235, 235);
}
th:first-child {
  border-radius: 6px 0 0 0;
}
th:last-child {
  border-radius: 0 6px 0 0;
}
th:only-child{
  border-radius: 6px 6px 0 0;
}









/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;

  overflow: auto; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  background-color: #ffffff;
  margin: auto;
  padding: 20px;
  border: 5px solid;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}





