/*import font*/

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*global*/
*{
    box-sizing: border-box;
    font-family: 'roboto';
    text-decoration: none;
}

/*header*/
header{
  display: inline-flex;
  justify-content: center;
  background-color: #4F5161;
  width: 100%;
  margin: 0;
}

/*body of the page*/
body{
  
  background-color:#9094B0;
  margin: 0;
}

/*container box class*/
.box{
  display: grid;
  padding: 20px;
  margin: 1% auto;
  background-color: white;
  width: 700px;
  text-align: center;
  vertical-align: center;
  border-radius: 10px;
}


/*title of header*/
#title{
  color: white;
  text-align: left;
  padding: 10px;
  margin-left: 1.5rem;
  flex-grow: 1;
  font-family: roboto;
}
/*text used for displaying user*/
#displayuser{
  color: white;
  text-align: left;
  padding: 10px;
  margin-top: 1.7rem;
  font-family: roboto;
}

/*table header*/
th{
  height: 50px;
  background-color: #7986E8;
  padding:10px;
}

/*table container*/
#tablebox{
  display: grid;
  padding: 10px;
  margin: 5% auto;
  background-color: white;
  text-align: center;
  vertical-align: center;
  min-width: fit-content;
  border-radius: 10px;
  width: 80%;
  
}

/*hyperlink*/
a{
  color: #4F5161;
}
/*hyperlink when mouse cursor is being hovered over*/
a:hover{
 color: white;
}

/*table*/
table{
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  border-radius: 50px;
}

/*table cells*/
td{
  padding: 10px;
}

/*even table rows*/
tr:nth-child(even) {
  background-color: rgb(235, 235, 235);
}
/*table header*/
th:first-child {
  border-radius: 6px 0 0 0;
}
/*table header*/
th:last-child {
  border-radius: 0 6px 0 0;
}

/*button class*/
.button{
  position: relative;
  text-align: center;
  color: white;
  background-color: #7A83E6;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}



/*logout button*/
#logoutbutton{
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: #7A83E6;
  border-radius: 5px;
  padding: 10px;
  margin: 1.5rem;
}

/*labels*/
label{
  text-align: left;
  display: inline-block;
  width: 100px;
}

/*inputs (textboxes, password, email, and number inputs)*/
input[type=email], input[type=password],input[type=text],select, input[type=number]{
  width: 70%;
  margin: 30px 0 0px 0;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid;
}

/*submit button*/
input[type=submit]{
color: white;
background-color: #7986E8;
border-radius: 20px;
border: 0;
width: 100%;
padding: 20px;
margin: 20px 0 0 0;
font-size: 20px;
}

/*edit button*/
#editbutton{
  color: #343963;
  text-decoration: none;
  background-color: #7986E8;
  padding: 6px 6px;
  border-radius: 5px;
}

/*delete button*/
#deleteButton{
  color: white;
  background-color: #9094B0;
  border-radius: 20px;
  border: 0;
  width: 100%;
  padding: 20px;
  margin: 20px 0 0 0;
  font-size: 20px;
}

/*deny button used to cancel deleting student*/
#denyButton{
  color: white;
  background-color: #7986E8;
  border-radius: 20px;
  border: 0;
  width: 50%;
  padding: 20px;
  margin: 20px 0 0 0;
  font-size: 20px;
}

/*confirm button, used before confirming to delete student*/
#confirmButton{
  background-color: red;
  width: 50%;
}


/* modal */
.modal {
  display: none; /* Hidden by default */
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

/* modal content */
.modal-content {
  padding: 30px;
  margin: 20px 200px;
  max-width: 100%;
  text-align: center;
  background-color: #ffffff;


}

/* close button, or x button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: #7986E8 ;
  padding: 1px 11px 1px 11px;
  border-radius: 5px;
  margin: 20px;

}

.close:hover,
.close:focus {
  color: #343963;
  background-color: #9094B0;
  text-decoration: none;
  cursor: pointer;
}





